<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 定义一个Bean -->
    <bean id="cat" class="com.sxh.ioc.bean.Cat">
        <property name="variety" value="暹罗"/>
        <property name="gender" value="0"/>
        <property name="color" value="black"/>
    </bean>
</beans>
